#include "resource.h"

SDL_app ICON "icon.ico"

1 VERSIONINFO
FILEVERSION %(version_number)s
PRODUCTVERSION %(version_number)s
FILEOS 0x00040004L
FILETYPE 0x00000001L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "%(company)s\0"
            VALUE "FileDescription", "%(description)s\0"
            VALUE "FileVersion", "%(version)s\0"
            VALUE "LegalCopyright", "%(copyright)s\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 1033, 1252
    }
}